STATEMENT NAME REGEX !!! ACTUAL FOLDER. USE <> IN FRONT OF A LINE THAT IS A GENERAL DIRECTORY (THAT BEING A STATEMENT NAME THAT MATCHES THE BASE FOLDER, BUT HAS BOA ACCOUNT FOLDERS)
^(?!.*1981.*CHILDREN.*TRUST.*).*(.*NEIL.*G.*BLUHM|.*NGB.*)!!!NGB
.*LNB.*!!!LNB
<>LAMB PARTNERS!!!LAMB PARTNERS
<>LAMB COMPANY LLC!!!LAMB COMPANY LLC